<div>Deveiopers: Submit a zip file of your Unity project here!</div>
<form enctype="multipart/form-data" method="post">
        <input type="text" id="name" name="name" value="Game Name"></input><br>
        <input type="text" id="author" name="author" value="Author"></input><br>
        <input type="file" id="file" name="file"><br>
        <input type="submit" value="Submit"></input><br>
</form> 